
<h1  *ngIf="!smartcontract">Criando um novo escrutínio</h1>
<h5 *ngIf="!smartcontract" class="">Seu escrutínio será registrado na BlockChain da Ethereum</h5>


<form *ngIf="!smartcontract" [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">

            <div class="align-items-center">
              <div class="col-auto">
                <div class="form-group row">
                  <div class="col-8">
                    <label for="number" class="col-form-label">Número de votantes</label>
                  </div>
                  <div class="col-4">
                    <input type="number" id="number" min="0" formControlName="numbervotantes" class="form-control" >
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-8">
                    <label for="number" class="col-form-label">Número de candidatos</label>
                  </div>
                  <div class="col-4">
                    <input type="number" id="number" min="0" formControlName="numberOfTickets" class="form-control" (change)="onChangeTickets($event)" >
                  </div>
                </div>
              </div>
            </div>

          <div *ngFor="let ticket of t.controls; let i = index" class="">
              <div class="">
                  <div [formGroup]="ticket" class="form-row align-items-center">
                      <div class="form-group col-12">
                          <label class="lead">Opção {{(i+1)}}</label>
                          <input type="text" formControlName="name" class="form-control" maxlength="30" />
                      </div>
                  </div>
              </div>
          </div>


          <p class="lead" >
            <label *ngIf="submitted" >Este processo pode demorar</label><br>
            <button type="submit"  class="btn btn-lg btn-secondary" [disabled]="submitted || !dynamicForm.valid || t.controls.length == 0">
              <span *ngIf="submitted" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              {{submitted ? 'Aguarde...':'Criar escrutínio'}}
            </button>
          </p>
</form>

<div *ngIf="error" class="alert alert-danger" role="alert">
  Algum erro aconteceu!
</div>

<p *ngIf="smartcontract" class="lead">Seu processo de escrutinio foi criado</p>
<p *ngIf="smartcontract" class="lead">ID: {{smartcontract}}</p>
<p *ngIf="smartcontract" class="lead">
      <a href="#" [routerLink]="['/escrutinio',smartcontract]" class="btn btn-lg btn-secondary">Entrar</a>
</p>
