<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Escrutinio</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" [routerLink]="['principal']" routerLinkActive="active">Principal</a>
        <a class="nav-link" [routerLink]="['auditoria']" routerLinkActive="active">Auditoria</a>
      </nav>
    </div>
  </header>


  <main role="main" class="inner cover">
    <router-outlet></router-outlet>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Criado por <a href="https://carneiro.eng.br">Igor Marques</a>.</p>
    </div>
  </footer>
</div>




